<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace = "fragments :: head">
</head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" th:object="${cheese}">
         <input th:field="*{name}" />
         <span th:errors="*{name}" class="error"></span>
         <input th:field="*{description}" />
         <span th:errors="*{description}" class="error"></span>
         <input type="submit" value="Add Cheese" />

        <div class="form-group">
            <label th:for="type"></label>
            <select th:field="*{type}">
            <option th:each="cheeseType : ${cheeseTypes}" th:text="${cheeseType.name}" th:value="${cheeseType}"></option>
            </select>
        </div>

    </form>

</body>
</html>